@page
@model DotNetLearning.WebApp.Pages.MoviesModel
@{
    ViewData["Title"] = "List of all movies";
}
<h3>@ViewData["Title"]</h3>
<hr/>

<table class="table table-striped">
    <thead>
        <tr>
            <td scope="col">#</td>
            <td scope="col">Title</td>
            <td scope="col">Rate</td>
            <td scope="col">Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <th scope="row">@movie.Id</th>
                <td>@movie.Title</td>
                <td>@movie.Rate/10</td>
                <td><a href="/Movie/@movie.Id" class="btn btn-secondary">Show details</a></td>
            </tr>
        }
    </tbody>
</table>
